<%= page_title 'Edit My Account' %>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :object => f %>

  <div class='buttons clearfix'>
    <%= pretty_positive_button 'Update' %>
    <%= pretty_negative_button_link 'Cancel', account_path %>
  </div>
<% end %>