<%= page_title 'Sign up' %>

<% form_for @user, :url => registration_path do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :object => f %>
  
  <div class='buttons clearfix'>
    <%= pretty_positive_button 'Sign up' %>
    <%= pretty_negative_button_link 'Cancel', root_path %>
  </div>
<% end %>
