<%= page_title 'Signup' %>

<% form_for @user, :url => account_path do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :object => f %>
  
  <div class='buttons'>
    <%= pretty_positive_button 'Signup' %>
    <%= pretty_negative_button_link 'Cancel', root_path %>
  </div>
<% end %>