<%= page_title 'Contact' %>

<% form_for @contact, :url => contact_path do |f| %>
  <%= f.error_messages %>
  
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div>
    <%= f.label :subject %>
    <%= f.text_field :subject %>
  </div>
  
  <div>
    <%= f.label :comment, 'Question/Comment' %>
    <%= f.text_area :comment, :label => 'Question/Comment' %>
  </div>
  
  <div class='buttons clearfix'>
    <%= pretty_positive_button 'Submit' %>
    <%= pretty_button_link 'Clear', contact_path %>
  </div>
<% end %>
