<%= page_title 'Login' %>

<% form_for @user_session, :url => user_session_path do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :login %>
    <%= f.text_field :login %>
  </div>
  
  <div>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  
  <div>
    <%= f.label :remember_me %>
    <%= f.check_box :remember_me %>
  </div>
  
  <div class='buttons clearfix'>
    <%= pretty_positive_button 'Login' %>
    <%= pretty_negative_button_link 'Cancel', root_path %>
  </div>
<% end %>

<p>
  Need an account? <%= link_to 'Sign up now.', signup_path %><br/>
  Forgot your password? <%= link_to 'Reset your password.', password_reset_path %>
</p>