<div id='sidebar'>
  <ul>
    <li><%= link_to "About", '/about' %></li>
    <li><%= link_to "FAQ", '/faq' %></li>
    <li><%= link_to "Privacy", '/privacy' %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
  <% if current_user && current_user.admin? %>
  <ul>
    <li><%= link_to 'Admin', admin_path %></li>
  </ul>
  <% end %>
  
  <%= render :comatose => '_shared/sidebar-example' %>
</div>
